@import "tailwindcss";

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html,
body {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
  overscroll-behavior: none;
  box-sizing: border-box;
}

:root {
  display: block;
  unicode-bidi: isolate;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-color: var(--color-black);
}
