@import "tailwindcss";

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-inter), system-ui, -apple-system, "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html,
body {
  overflow: auto;
  touch-action: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  box-sizing: border-box;
}

:root {
  display: block;
  unicode-bidi: isolate;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  background-color: var(--color-black);
}

.border-frame {
  position: relative;
}

.border-frame::after {
  content: "";
  border-width: 1px 0 1px 0;
  border-color: #ffffff26;
  border-style: solid;
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.border-frame-inner {
  position: relative;
}

.border-frame-inner::after {
  content: "";
  border-width: 0 1px 0 1px;
  border-color: #ffffff26;
  border-style: solid;
  box-sizing: border-box;
  border-radius: inherit;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
